:root {
  --var-body-bg: #fff;
  --var-body-fc: #202124;
  --var-footer-fc: #202124;
  --var-search-logo: url(../img/logo_light.svg);
  --var-btn-fc: #3c4043;
  --var-headerBtn-bg: #1a73e8;
  --var-headerBtn-hover: #1b66c9;
  --var-headerBtn-shadow: 0 1px 3px 1px rgb(66 64 67 / 15%), 0 1px 2px 0 rgb(60 64 67 / 30%);
  --var-appsBtn-fill: #5f6368;
  --var-footer-bg: #f2f2f2;
  --var-setting-hover: rgba(0, 0, 0, 0.1);
  --var-footer-border: #dadce0;
  --var-input-hover: #fff;
  --var-input-hover-shadow: rgb(32 33 36 / 28%);
}

[dark] {
  --var-body-bg: #202124;
  --var-search-logo: url(../img/logo_dark.svg);
  --var-headerBtn-bg: #8ab4f8;
  --var-headerBtn-hover: #93baf9;
  --var-headerBtn-shadow: box-shadow: 0 1px 3px 1px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 30%);
  --var-body-fc: #fff;
  --var-appsBtn-fill: rgba(255, 255, 255, .87);
  --var-footer-fc: #e8eaed;
  --var-footer-bg: #171717;
  --var-setting-hover: rgba(255, 255, 255, 0.1);
  --var-footer-border: #3c4043;
  --var-input-hover: #303134;
  --var-input-hover-shadow: #171717;
}

@font-face {
  font-family: 'Google Sans';
  src: local('Google Sans Regular'), local('Google-Sans-Regular'),
    url('../font/GoogleSans-Regular.woff2') format('woff2'),
    url('../font/GoogleSans-Regular.woff') format('woff'),
    url('../font/GoogleSans-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--var-body-bg);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: Google Sans, Roboto, Helvetica, Arial, sans-serif;
  color: var(--var-body-fc);
}

a {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: var(--var-body-fc);
  text-decoration: none;
}

span {
  font-weight: 500;
  letter-spacing: .25px;
  line-height: 16px;
  color: white;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: flex-end;
  margin: 5px 10px 0;

  &__items {
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__link {
    padding-right: 15px;
  }
}

.link:hover {
  text-decoration: underline;
}

.apps {
  padding: 4px;
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  top: 2px;

  &:hover {
    background-color: rgba(60, 64, 67, .08);
    border-radius: 50%;
    border: none;
  }

  &__btn {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    left: 12px;
    fill: var(--var-appsBtn-fill)
  }
}

.login-btn {
  letter-spacing: 0.25px;
  margin-left: 10px;
  margin-right: 8px;
  padding: 9px 27px;
  border-radius: 4px;
  box-sizing: border-box;
  background: var(--var-headerBtn-bg);
  border: 1px solid transparent;
  color: var(--var-body-bg);
  cursor: pointer;

  &:hover {
    background: var(--var-headerBtn-hover);
    box-shadow: var(--var-headerBtn-shadow);
  }
}

.logotype {
  background-image: var(--var-search-logo);
  background-repeat: no-repeat;
  background-size: 279px;
  background-position: bottom center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  max-height: 290px;
  height: calc(100% - 560px);
  flex-shrink: 0;
  flex-grow: 1;
}

.search-form {
  padding-top: 20px;
}

form {
  display: flex;
  justify-content: center;
}

.search-input {
  width: 100%;
  max-width: 584px;
  position: relative;
}

.btn {
  cursor: pointer;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 24px;
  height: 44px;
  margin: 0 8px;
}

.search-btn {
  background-image: url(../img/icon/search-btn.svg);
  position: absolute;
  top: calc(50% - 22px);
  left: 6px;
  cursor: default;
}

.input {
  height: 48px;
  width: 100%;
  background: var(--var-body-bg);
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding-left: 47px;
  padding-right: 183px;
  box-sizing: border-box;
  font-family: arial, sans-serif;
  font-size: 16px;
  color: var(--var-body-fc);

  &:hover {
    background-color: var(--var-input-hover);
    box-shadow: 0 1px 6px var(--var-input-hover-shadow);
    border-color: rgba(223, 225, 229, 0);
  }

  &:focus-visible {
    outline: none;
  }
}

.btn-group {
  position: absolute;
  display: flex;
  top: calc(50% - 22px);
  right: 0;
  margin-right: 8px;
}

.clear-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.clear-input {
  background-image: url(../img/icon/plus.svg);
  margin: 0 12px;
}

.keyboard {
  background-image: url(../img/icon/tia.png);
}

.microphone {
  background-image: url(../img/icon/voice.svg);
}

.photo {
  background-image: url(../img/icon/photo.svg);
}

.border-right {
  border-right: 1px solid #dadce0;
  display: block;
  height: 65%;
}

.display-none {
  display: none;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 18px;

  &__btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: var(--var-btn-fc);
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    cursor: pointer;
    user-select: none;

    &:hover {
      box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
      background-color: #f8f9fa;
      border: 1px solid #dadce0;
      color: var(--var-body-fc);
    }

    &:focus {
      border: 1px solid #4285f4;
      outline: none;
    }
  }
}

.empty {
  flex-shrink: 0;
  flex-grow: 1;
  box-sizing: border-box;
}

.footer {
  background: var(--var-footer-bg);
  flex-shrink: 0;
  box-sizing: border-box;

  &__country {
    padding: 15px 30px;
    border-bottom: 1px solid var(--var-footer-border);
    font-size: 15px;
    color: var(--var-footer-fc);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__links-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;

    &_block {
      display: flex;

      &>button {
        border: none;
      }
    }
  }
}

.item-one {
  order: 2;
}

.item-two {
  order: 1;
  min-width: 30%;
  justify-content: flex-start;
}

.item-three {
  order: 3;
  min-width: 30%;
  justify-content: flex-end;
}

.link-climat {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &>img {
    height: 14px;
    margin-right: 6px;
  }
}

.footer-link {
  color: var(--var-footer-fc);
  padding: 15px;
  font-size: 14px;
  font-family: arial, sans-serif;
  background: none;

  &:hover {
    text-decoration: underline;
  }
}

.setting-btn {
  position: relative;
  cursor: pointer;
}

.setting {
  border-radius: 8px;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
  background-color: var(--var-body-bg);
  padding: 5px 0;
  position: absolute;
  right: 20px;
  bottom: 50px;

  &__item {
    cursor: pointer;
    background-color: var(--var-body-bg);

    &:hover {
      background-color: var(--var-setting-hover);
    }
  }
}

.toggle-theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  gap: 7px;
  font-family: arial, sans-serif;
  user-select: none;

  &__icon {
    background-image: url(../img/icon/light.svg);
    height: 18px;
    width: 18px;
    opacity: 0;
  }
}

.dark {
  background-image: url(../img/icon/dark.svg);
}

@media (max-width: 1445px) {
  .item-one {
    order: 0;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 915px) {

  .footer__links {
    justify-content: center;
  }

  .item-two,
  .item-three {
    flex-wrap: wrap;
    justify-content: center;
  }
}